body{margin:0;height:100%;width:100%;}
html{height:100%;width:100%;}
#app{height:100%;width:100%;}
p{margin:0;}


.fade-enter-active {
  animation: router-in 0.75s;
}
.fade-leave-active {
  animation: router-in 0.75s reverse;
}

:root{
  --child-height:10px;
  --child-width:10px;
  --child-border:.5px;
}
@keyframes router-in{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
  }
}